 /* Links inside the navigation bar */
 .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Higlighting links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  body {
      background-color: #330210
  }
  .heading {
    text-align: center;
    color: #ffffff;
}
.about {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: auto;
    height: 200px;
    padding-left: 2%;
    background: #d6c1c1;
    border: 1px solid #e0f803;
    box-sizing: border-box;
    border-radius: 5px;
}